<div class="row">
    <% for( let i = 0; i < events.length; i++ ) { %>
    <div class="col-sm-4">
        <div class="event-title">
            <h1><%= events[i].eventTitle %></h1>
        </div>
        <div class="event-description">
            <h3><%= events[i].description %></h3>
        </div>
        <div class="event-thumnbnail">
            <a href="/<%= events[i]._id %>"
                ><img src="<%= events[i].eventThumbnail %> "
            /></a>
        </div>
    </div>
    <% } %>
</div>
